<a href="https://colab.research.google.com/github/LaetitiaVerel/Odyssey-Quests/blob/master/Pandas%20Part%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission

Still using this dataset: http://bit.ly/imdbratings
- Which actor is mentioned the most often?

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv"

Data2 =  pd.read_csv(url)

Data2.head(10)

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
5          8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6          8.9  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7          8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8          8.9  ...  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9          8.9  ...  [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...

[10 rows x 6 columns]

In [ ]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv"

Data2 =  pd.read_csv(url)

Data2.actors_list.mode()

0    [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
dtype: object

In [ ]:
Data2.actors_list.value_counts()
# Ne prends pas en compte 'un' acteur, mais les listes d'acteurs les plus fréquents.

[u'Daniel Radcliffe', u'Emma Watson', u'Rupert Grint']                  6
[u'Mark Hamill', u'Harrison Ford', u'Carrie Fisher']                    3
[u'Michael J. Fox', u'Christopher Lloyd', u'Lea Thompson']              2
[u'Tom Hanks', u'Tim Allen', u'Joan Cusack']                            2
[u'Ian McKellen', u'Martin Freeman', u'Richard Armitage']               2
                                                                       ..
[u'Hilary Swank', u'Chlo\xeb Sevigny', u'Peter Sarsgaard']              1
[u'Steve McQueen', u'James Garner', u'Richard Attenborough']            1
[u'Aaron Taylor-Johnson', u'Nicolas Cage', u'Chlo\xeb Grace Moretz']    1
[u'Kurt Russell', u'Patricia Clarkson', u'Nathan West']                 1
[u'Cary Grant', u'Priscilla Lane', u'Raymond Massey']                   1
Name: actors_list, Length: 969, dtype: int64

In [ ]:
from statistics import mode

List_actors = list(df['actorsName'])

Most_mentioned_actor = []

for actors in List_actors:
  List_actors = actors.split(",")
  for actors in List_actors:
    Most_mentioned_actor.append(actors.replace("[", "").replace("u'", "").replace("'", "").replace("]", "").strip())

print(mode(Most_mentioned_actor))

Robert De Niro